<div class="avatar flex justify-center">
  <div class="w-24 rounded-full ">
    <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
  </div>
</div>

<p><%= @question.content %></p>
<p><%= @answer.content %></p>

<div id="react-root"></div>
